<!DOCTYPE html>
<!--
    Name: Mimilism - Minimal and Modern Portfolio HTML Template
    Version: 1.0.0
    Author: dexad
    Website: https://dkcoder.info/
    Purchase: https://themeforest.net/user/unvab/portfolio
    Support: https://dkcoder.info/
    License: You must have a valid license purchased only from ThemeForest (the above link) in order to legally use the theme for your project.
    Copyright 2018.
-->
    
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>АИС Авто</title>

    <meta name="description" content="Mimilism - Bootstrap template for portfolio and works">
    <meta name="keywords" content="portfolio, works, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="DKcoder">

    <link rel="icon" type="image/png" href="assets/images/logo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700%7cPlayball%7cPT+Serif:700i" rel="stylesheet"><!-- %7c -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/brands.css">
    <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/solid.css">
    <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/fontawesome.css">

    <!-- Pe icon 7 stroke -->
    <link rel="stylesheet" href="assets/vendor/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">

    <!-- Lightgallery -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/lightgallery/dist/css/lightgallery.min.css">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/swiper/dist/css/swiper.min.css">

    <!-- Mimilism -->
    <link rel="stylesheet" href="assets/css/mimilism.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    
    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    
    
</head>


<body>
    <div class="dk-main">
        
            


<!--
    START: Navbar

    Additional Classes:
        .dk-navbar-sticky
        .dk-navbar-transparent
        .dk-navbar-white
        .dk-navbar-fullscreen || .dk-navbar-(xl, lg, md, sm)-fullscreen
-->
<nav class="dk-navbar dk-navbar-fixed dk-navbar-transparent dk-navbar-white dk-navbar-lg-fullscreen" id="navmenu">
    <div class="container">
        <div class="dk-nav-content">
            
            
            
            
            
            <ul class="dk-nav dk-nav-align-right">
                
                <li>
                    <a href="#">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="#">
                        Условия
                    </a>
                </li>
                <li>
                    <a href="#">
                        Гарантии
                    </a>
                </li>
                <li><a href="#" class="dk-nav-logo"><img src="assets/images/logo.png" alt="" style="width: 170px;"></a></li>
                <li>
                    <a href="#">
                        Отзывы
                    </a>
                </li>
                <li>
                    <a href="#">
                        Контакты
                    </a>
                </li>
        <li class="dk-drop-item">
            <a href="#">
                Вход
            </a><ul class="dk-dropdown">
                    
        <li>
            <a href="#">
                Партнер
            </a>
        </li>
        <li>
            <a href="#">
                Клиент
            </a>
        </li>
                </ul>
        </li>
            </ul>
            
        </div>
    </div>
</nav>
<div class="dk-navbar dk-navbar-fullscreen">
    <div class="container">
        <div class="d-block"></div>
        <div class="dk-nav-content">

        </div>
        <ul class="dk-social-links text-center">
            <li><a href="#" class="dk-social-facebook"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="#" class="dk-social-twitter"><span class="fab fa-twitter"></span></a></li>
            <li><a href="#" class="dk-social-google-plus"><span class="fab fa-google-plus-g"></span></a></li>
            <li><a href="#" class="dk-social-behance"><span class="fab fa-behance"></span></a></li>
            <li><a href="#" class="dk-social-pinterest"><span class="fab fa-pinterest"></span></a></li>
            <li><a href="#" class="dk-social-instagram"><span class="fab fa-instagram"></span></a></li>
        </ul>
    </div>
</div>
<!-- END: Navbar -->

        

        

        

    <div class="dk-box-4">
        <div class="bg-image bg-image-parallax">
            <img src="assets/images/auto-969046_1920.jpg" alt="" class="jarallax-img">
            <div style="background-color: rgba(32, 32, 32, .6)"></div>
        </div>
        <div class="container">
            <h1 class="text-white mb-0" style="margin-left: 8%;">Войти как партнер</h1> <br><br>
            <div class="col-lg-6">
                <form action="php/contact.php" class="dk-form" method="post">
                    <div class="row vertical-gap">
                        <div class="col-12">
                            <input class="form-control" type="text" name="title" value="" placeholder="Логин">
                        </div>
                        <div class="col-12">
                            <input class="form-control" type="password" name="password" placeholder="Пароль"></input>
                        </div>
                        <div class="col-12">
                            <div class="dk-result"></div>
                        </div>
                    </div>
                    <button class="dk-btn dk-btn-md" type="submit" name="sumbit">Вход</button>
                </form>
            </div>
        </div>
    </div>

<!-- START: Footer -->
<footer class="dk-footer">
    <div class="dk-box-2">
        <div class="container">
            <div class="row vertical-gap md-gap" id="foooter">
                <div class="col-sm-6 col-md-auto">
                    <div class="dk-widget-footer">
                        <div class="dk-widget-list">
                            <a class="link-secondary" href="#">О нас</a>
                            <a class="link-secondary" href="#">Гарантии</a>
                            <a class="link-secondary" href="#">Отзывы</a>
                            <a class="link-secondary" href="#">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="dk-widget-footer">
                        <div class="dk-widget-list">
                            <a class="link-secondary" href="#">Вход в аккаунт партнера</a>
                            <a class="link-secondary" href="#">Вход в аккаунт клиента</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg col-xl-3">
                    <div class="dk-widget-footer">
                        <img src="assets//images/logo.png"alt="" style="width: 250px;">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="dk-widget-footer">
                        <div class="dk-widget-list">
                            <a href="phoneto:+996550664547">📱0550 664 547</a>
                            <a href="phoneto:+990703600234">📱0703 600 234</a>
                            <a href="phoneto:+996312461123">📱0312 46 11 23</a>
                            <a href="mailto:ais.home.kg@gmail.com">✉️ais.home.kg</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="dk-widget-footer">
                        <div class="dk-widget-list">
                            <a href="#">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">Instagram</a>
                            <a href="#">Youtube</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dk-footer-copyright">
        <div class="container">
            <p class="mb-0">АИС Авто - это совершенно новое и очень выгодное решение!</p>
        </div>
    </div>
</footer>
<!-- END: Footer -->




    </div>

    

    
<!-- START: Scripts -->

<!-- Object Fit Images -->
<script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- Popper -->
<script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

<!-- Bootstrap -->
<script src="assets/vendor/tether/dist/js/tether.min.js"></script>
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Sticky Kit -->
<script src="assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

<!-- Jarallax -->
<script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

<!-- Isotope -->
<script src="assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>

<!-- ImagesLoaded -->
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Lightgallery -->
<script src="assets/vendor/lightgallery/dist/js/lightgallery.min.js"></script>
<script src="assets/vendor/lg-fullscreen/dist/lg-fullscreen.min.js"></script>
<script src="assets/vendor/lg-video/dist/lg-video.min.js"></script>

<!-- Swiper -->
<script src="assets/vendor/swiper/dist/js/swiper.min.js"></script>

<!-- Jquery Form -->
<script src="assets/vendor/jquery-form/dist/jquery.form.min.js"></script>

<!-- The Mimilism -->
<script src="assets/js/mimilism.min.js"></script>
<script src="assets/js/mimilism-init.js"></script>
<!-- END: Scripts -->


    
</body>
</html>
